* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.container {
    margin: auto;
    width: 80%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Intestazione pagina */
header {
    margin-top: 2%;
    padding: 4%;
    background-color: rgba(209, 73, 180, 0.644);
}

nav {
    margin-top: 2%;
    padding: 20%;
    background-color: rgba(187, 187, 0, 0.397);
}

.main-container {
    width: 100%;
    margin-top: 2%;
    background-color:rgba(13, 158, 241, 0.76);
}

.border {
    border: solid 5px blue;
    border-top: solid 10px blue;
    border-bottom: solid 10px blue;
    padding: 3%;
}

.float1 {
    border-left: 0;
    float: left;
    width: 25%;
}

.float2 {
    float: left;
    width: 50%;
}

.float3 {
    float: left;
    width: 25%;
    border-right: 0;
}

/* Footer */
footer {
    margin-top: 0.5%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: rgb(113, 0, 165);
}